@import "tailwindcss";

/* PERMITE CRIAR ESTILIZAÇÃO PERSONALIZADA PARA O TAILWIND
@theme {
    --color-*: initial;
  
    --color-blue: #6f9de2;
    --color-purpple: #9871f3;
    --color-danger: #f05d6c;
}
*/
